* {
	padding:0;
	margin:0;
}
		
body{
	background-color: #000;
	background-image:url('bkg2.gif');
	background-repeat:repeat-y;
	color: Gray;
	width: auto;
	font-family: Calibri, Arial;
}

.clear{
	clear: both;
}
		
#canvas{
	display:block;
	background-color: #000;
	margin:auto;
	width: auto;
}

.square
{
	background-color: #333;
    display:block;
    width: 500px;
    height: auto;
    margin: 20px;
    float: left;
    clear: both;
    
}

.center{
	display: block;
	margin-left: auto;   
	margin-right: auto;

}

.squareNoClear
{
    display:block;
	background-color: #666;
    width: 200px;
    height: auto;
    margin: 20px;
    float: left;
}

.img{
	display:block;
	width : 80px;
	height: 80px;
}

.smll
{
    font-weight:bold;
    font-size:small;
}

.bold
{
    font-weight:bold;
    font-size:1.3em;
}

.xbold
{
    font-weight:bold;
    font-size:x-large;
    color:Lime;
}

.exlink{
	text-align:center;
	font-weight:bold;
    font-size:small;
	color:Lime;
}

a
{
    color:orange;
    font-weight:bold;
    font-size: large;
    
}

.centered{
    text-align: center;
}

.niceButton {
	color: orange;
	background-color: #333;
	font-weight: bold;
	font-size: normal;
	text-decoration:underline;
	padding: 2px;
	border: 2px solid #333;

}

.niceField {
	color: white;
	background-color: black;
	font-weight: normal;
	font-size: normal;
	padding: 1px;
	border: 1px solid orange;

}

.spaced{
	background-color: #333;
	margin-bottom: 3px;
	margin-top: 3px;
	width: 500px;
	clear: both;
}

.limed{
	background-color: black;
	color:lime;
}

.oranged{
	color: orange;
}

.logged{
	color: orange;
	background-color: #666;
	font-size: normal;
}

.scores{
	float:left;
	clear:both;
}

.menuscores{
	float: left;

}

.niceButtonTwo {
	color: yellow;
	background-color: black;
	font-weight: bold;
	font-size: normal;
	text-decoration:underline;
	padding: 1px;
	margin: 2px;
	border: 1px solid black;

}

.container{
	background-color: #333;
	float:left; 
	width:810px;
	margin: 20px;
}